# Time to calculate final revenue

In [92]:
import pandas as pd
import numpy as np

In [93]:
revenue_MF = pd.read_csv('~/Desktop/revenue_MF.csv')
revenue_CC = pd.read_csv('~/Desktop/revenue_CC.csv')
revenue_CL = pd.read_csv('~/Desktop/revenue_CL.csv')

In [94]:
revenue_MF = revenue_MF.drop('Unnamed: 0', 1)
revenue_MF["Lable_MF"].replace({1: "MF"}, inplace=True)
revenue_MF.rename(columns={'Lable_MF': 'Lable'}, inplace=True)
revenue_MF.head()

   Client Lable  Probability  Pred_Revenue
0     978    MF        0.900     10.249947
1     301    MF        0.865      9.057325
2     579    MF        0.855     12.393457
3     685    MF        0.855      6.193177
4     976    MF        0.830     11.746126

In [95]:
revenue_CC = revenue_CC.drop('Unnamed: 0', 1)
revenue_CC["Lable_CC"].replace({1: "CC"}, inplace=True)
revenue_CC.rename(columns={'Lable_CC': 'Lable'}, inplace=True)
revenue_CC.head()

   Client Lable  Probability  Pred_Revenue
0    1138    CC     0.954286      6.810498
1      74    CC     0.865714      7.609753
2     797    CC     0.841429      9.525382
3     369    CC     0.821429      8.216887
4    1410    CC     0.815714      7.025847

In [96]:
revenue_CL = revenue_CL.drop('Unnamed: 0', 1)
revenue_CL["Lable_CL"].replace({1: "CL"}, inplace=True)
revenue_CL.rename(columns={'Lable_CL': 'Lable'}, inplace=True)
revenue_CL.head()

   Client Lable  Probability  Pred_Revenue
0     710    CL     0.905714     12.811270
1    1123    CL     0.881429     13.286088
2       9    CL     0.868571     13.594457
3     498    CL     0.854286     11.431281
4      30    CL     0.850000     16.649407

In [97]:
#stack vertically the results of the three columns
vertical_stack = pd.concat([revenue_MF, revenue_CC], axis=0, sort = False)
final = pd.concat([vertical_stack, revenue_CL], axis=0, sort = False)

In [98]:
#sort by probability score
final = final.sort_values (by = 'Probability', ascending = False)

#we can contact each client only once, thus, it is important to drop duplicated clients
final = final.drop_duplicates(subset ="Client", 
                     keep = 'first')

final = final.reset_index ( drop = True)

In [99]:
final = final.head(100)
final

    Client Lable  Probability  Pred_Revenue
0     1138    CC     0.954286      6.810498
1      710    CL     0.905714     12.811270
2      978    MF     0.900000     10.249947
3     1123    CL     0.881429     13.286088
4        9    CL     0.868571     13.594457
5       74    CC     0.865714      7.609753
6      301    MF     0.865000      9.057325
7      579    MF     0.855000     12.393457
8      685    MF     0.855000      6.193177
9      498    CL     0.854286     11.431281
10      30    CL     0.850000     16.649407
11     832    CL     0.850000     13.220199
12     797    CC     0.841429      9.525382
13      11    MF     0.830000      8.325133
14     976    MF     0.830000     11.746126
15     265    CL     0.828571     12.509966
16    1007    MF     0.825000      6.926473
17     231    CL     0.824286     11.851645
18     571    CL     0.822857     10.677169
19     369    CC     0.821429      8.216887
20     126    CL     0.817143     12.849530
21     235    CL     0.815714     11.553005
22    1410    CC     0.815714      7.025847
23     813    CC     0.811429      6.191623
24    1101    MF     0.810000      7.521538
25     342    CL     0.810000     12.531688
26      41    CL     0.808571     12.499937
27     677    CL     0.807143     11.650820
28     706    CL     0.804286     12.218877
29     803    MF     0.800000      6.989197
..     ...   ...          ...           ...
70    1511    CC     0.725714     14.089025
71    1588    CC     0.725714     10.240963
72    1129    CC     0.722857      6.643717
73     640    CC     0.720000     15.670403
74     886    CL     0.720000     14.141695
75    1385    MF     0.720000      6.846379
76    1521    MF     0.720000     10.436583
77     119    CL     0.718571     11.324185
78    1136    CC     0.718571     16.654772
79    1530    CL     0.715714     13.184930
80     138    MF     0.715000      6.398853
81    1332    CL     0.714286     11.358024
82     260    MF     0.710000      5.874525
83     622    CC     0.710000      6.311383
84     794    MF     0.710000      5.598763
85     293    CL     0.705714     11.205533
86    1008    MF     0.705000      6.443268
87    1465    CC     0.702857      9.131199
88    1105    CC     0.700000      8.327109
89    1222    CC     0.694286     10.026256
90     889    CL     0.692857     32.216713
91     828    CL     0.691429     10.146801
92     226    CC     0.690000      7.052764
93     594    MF     0.690000     12.524053
94    1589    CL     0.688571      9.974056
95    1356    CL     0.687143     12.655101
96    1447    MF     0.685000     10.920321
97    1458    MF     0.685000      5.816883
98     651    CC     0.684286      6.159564
99    1263    CC     0.682857     13.365564

[100 rows x 4 columns]

In [110]:
final_pivot = final.pivot_table (values = 'Pred_Revenue',
                          index = 'Lable',
                          aggfunc = 'sum')

In [109]:
final_pivot = round(final_pivot, 2)

TypeError: type NoneType doesn't define __round__ method

In [111]:
final_pivot

       Pred_Revenue
Lable
CC       293.969554
CL       548.454394
MF       220.679271

In [106]:
final_pivot_1 = final.pivot_table (values = 'Client',
                          index = 'Lable',
                          aggfunc = 'count')

In [107]:
final_pivot_1

       Client
Lable
CC         31
CL         41
MF         28

In [103]:
final_revenue = final.to_csv('~/Desktop/final_revenue.csv')
final_pivot = final_pivot.to_csv('~/Desktop/final_pivot.csv')